<div>
	<h1>OMNI-SEARCH GOES HERE!</h1>
	<input style="width:500px" ng-model="searchTermAccessor" ng-model-options="{  getterSetter: true }" type="text" placeholder="Search for current weather data by City Name, City ID, LatLong or ZIP Code here!"/>
	<button ng-click="evaluateSearchTerm()">SEARCH!</button>
	<p>{{ searchResults }}</p>
	<button ng-click="clearSearch()">CLEAR SEARCH</button>
</div>