<div id="ai-weather-data">
	<h1>WEATHER-DATA GOES HERE!</h1>
	<ul>
		<li><button ng-click="setDataByLatLong({lat: 51.4500, lon:0.0833})">Get Weather Data of London, UK -- BY LATLONG</button></li>
		<li><button ng-click="setDataByZipCode(94040,'us')">Get Weather Data of Mountain View, US -- BY ZIPCODE</button></li>
		<li><button ng-click="setDataByCityId(3451190)">Get Weather Data of Rio De Janeiro, BR -- BY CITY ID</button></li>
		<li><button ng-click="setDataByCityName('Tokyo','jp')">Get Weather Data of Tokyo, JP -- BY CITY NAME</button></li>
	</ul>
	<button ng-click="clearWeatherData()">Clear Weather Data</button>
	<button>Add this location to favourites</button>
	<div ng-show="currentWeatherData" class="weather-data">
		<div class="weather-data__location">
			<h3>{{currentWeatherData.name}} , {{currentWeatherData.sys.country}}</h3>
			<p>Latitude: {{currentWeatherData.coord.lat}}</p>
			<p>Longitude: {{currentWeatherData.coord.lon}}</p>
		</div>
		<div class="weather-data__weather">
			<h4>Descriptions:</h4>
			<p ng-repeat="weather in currentWeatherData.weather">{{weather.description}}</p>
		</div>
		<div class="weather-data__main">
			<h4>Main Weather Stats:</h4>
			<p>Temperature: {{currentWeatherData.main.temp}} F</p>
		    <p>Pressure: {{currentWeatherData.main.pressure}}</p>
		    <p>Minimum Temperature: {{currentWeatherData.main.temp_min}} F</p>
		    <p>Maximum Temperature: {{currentWeatherData.main.temp_max}} F</p>
		</div>
		<div class="weather-data__wind">
			<h4>Wind</h4>
			<p>Speed: {{currentWeatherData.wind.speed}}</p>
			<p>Angle: {{currentWeatherData.wind.deg}}</p>
		</div>
		<div class="weather-data__rain">
			<h4>Rain</h4>
			<p>{{currentWeatherData.rain}}</p>
		</div>
		<div class="weather-data__clouds">
			<h4>Clouds</h4>
			<p>{{currentWeatherData.clouds.all}}</p>
		</div>
	</div>
</div>